@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-asp-gray-50: oklch(98.5% 0.002 247.839);
	--color-asp-gray-100: oklch(96.7% 0.003 264.542);
	--color-asp-gray-200: oklch(92.8% 0.006 264.531);
	--color-asp-gray-300: oklch(87.2% 0.01 258.338);
	--color-asp-gray-400: oklch(70.7% 0.022 261.325);
	--color-asp-gray-500: oklch(55.1% 0.027 264.364);
	--color-asp-gray-600: oklch(44.6% 0.03 256.802);
	--color-asp-gray-700: oklch(37.3% 0.034 259.733);
	--color-asp-gray-800: oklch(27.8% 0.033 256.848);
	--color-asp-gray-900: oklch(21% 0.034 264.665);
	--color-asp-gray-950: oklch(13% 0.028 261.692);

	--color-asp-black: #000;
	--color-asp-white: #fff;
}

[data-theme='dark'] {
	--color-asp-gray-50: oklch(0.13 0.028 261.692);
	--color-asp-gray-100: oklch(0.21 0.034 264.665);
	--color-asp-gray-200: oklch(0.278 0.033 256.848);
	--color-asp-gray-300: oklch(0.373 0.034 259.733);
	--color-asp-gray-400: oklch(0.446 0.03 256.802);
	--color-asp-gray-500: oklch(0.551 0.027 264.364);
	--color-asp-gray-600: oklch(0.707 0.022 261.325);
	--color-asp-gray-700: oklch(0.872 0.01 258.338);
	--color-asp-gray-800: oklch(0.928 0.006 264.531);
	--color-asp-gray-900: oklch(0.967 0.003 264.542);
	--color-asp-gray-950: oklch(0.985 0.002 247.839);

	--color-asp-black: #fff;
	--color-asp-white: #000;
}

* {
	box-sizing: border-box;
}
