@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-std-50: oklch(98.5% 0.002 247.839);
	--color-std-100: oklch(96.7% 0.003 264.542);
	--color-std-200: oklch(92.8% 0.006 264.531);
	--color-std-300: oklch(87.2% 0.01 258.338);
	--color-std-400: oklch(70.7% 0.022 261.325);
	--color-std-500: oklch(55.1% 0.027 264.364);
	--color-std-600: oklch(44.6% 0.03 256.802);
	--color-std-700: oklch(37.3% 0.034 259.733);
	--color-std-800: oklch(27.8% 0.033 256.848);
	--color-std-900: oklch(21% 0.034 264.665);
	--color-std-950: oklch(13% 0.028 261.692);

	--color-std-black: #000;
	--color-std-white: #fff;

	--text-xsm: 13px;
	--text-xsm--line-height: 1.25rem;
}

[data-theme='dark'] {
	--color-std-50: oklch(0.13 0.028 261.692);
	--color-std-100: oklch(0.21 0.034 264.665);
	--color-std-200: oklch(0.278 0.033 256.848);
	--color-std-300: oklch(0.373 0.034 259.733);
	--color-std-400: oklch(0.446 0.03 256.802);
	--color-std-500: oklch(0.551 0.027 264.364);
	--color-std-600: oklch(0.707 0.022 261.325);
	--color-std-700: oklch(0.872 0.01 258.338);
	--color-std-800: oklch(0.928 0.006 264.531);
	--color-std-900: oklch(0.967 0.003 264.542);
	--color-std-950: oklch(0.985 0.002 247.839);

	--color-std-black: #fff;
	--color-std-white: #000;
}

@utility clickable {
	@apply cursor-pointer select-none active:scale-95 transition-all duration-150;
}

@layer components {
	.btn {
		@apply clickable flex justify-center items-center gap-1.5 text-std-900/40 hover:text-std-black hover:bg-std-400/10 active:bg-std-400/20;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
